.time-card {
	width: 400px;
	height: 75px;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

.local-time {
  font-size: 250px;
  font-weight: 1000;
  margin: 0px 0px;
  padding: 0px 0px;
}

.zone-name {
  font-weight: 500;
}

.zone-time {
  font-weight: 300;
}